# This file is used by Vercel to load environment variables
# The actual values are set in Vercel's dashboard
# This file just documents what variables are needed

AUTH_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
DATABASE_URL=
